@font-face {
    font-family: 'Afronik Soft';
    src: url('subset-AfronikSoft-Soft.eot');
    src: url('subset-AfronikSoft-Soft.eot?#iefix') format('embedded-opentype'),
        url('subset-AfronikSoft-Soft.woff2') format('woff2'),
        url('subset-AfronikSoft-Soft.woff') format('woff'),
        url('subset-AfronikSoft-Soft.ttf') format('truetype'),
        url('subset-AfronikSoft-Soft.svg#AfronikSoft-Soft') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Afronik';
    src: url('subset-Afronik-Regular.eot');
    src: url('subset-Afronik-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-Afronik-Regular.woff2') format('woff2'),
        url('subset-Afronik-Regular.woff') format('woff'),
        url('subset-Afronik-Regular.ttf') format('truetype'),
        url('subset-Afronik-Regular.svg#Afronik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

